{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="section">
    {% if messages %}
        <ul class="info-msg center">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <div class="container">
    <div class="rev-container center">
        <h2>Your opinion is extremely important ! It's increases credibility among users !</h2>
        <form class="rate-form rev-form" method="post"> 
            {% csrf_token %} 
            <label class="lab">How many stars would you like to give {{user.first_name}} ?</label>         
                <div class="stars">
                    {{review_description_form.stars}}
                </div>    
            <label class="lab">what do you think about {{user.first_name}}'s services:</label>
            {{review_description_form.description}}
            <input type="submit" class="button button-bright">
        </form>
    </div>
   </div>
</section>
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/review.js' %}"></script>
{% endblock %}