{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="section reviews-section">
    {% if messages %}
        <ul class="info-msg center">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <div class="container">
    <div class="rev-container center">
        <h2 class="review-heading">Your opinion is extremely important ! It's increases credibility among users !</h2>
        <form class="rate-form rev-form" method="post"> 
            {% csrf_token %}
      
            {% if not user.first_name %}
                <label class="lab"> Mark below how many stars would you like to give to this pet sitter ?</label>
            {% else %}
                <label class="lab">Mark below how many stars would you like to give {{user.first_name}} ?</label>          
            {% endif %}                 
                <div class="stars">
                    {{review_description_form.stars}}
                </div>
            {% if not user.first_name %}
                <label class="lab">what do you think about this pet sitter services ?</label>
            {% else %}
                <label class="lab">what do you think about {{user.first_name}}'s services:</label>          
            {% endif %}    
            {{review_description_form.description}}
            <input type="submit" class="button button-bright" value="submit">
        </form>
        <div class="button button-bright center back-btn">
            <a href="{% url 'petsitter_profile' user.id %}">back to profile</a>
        </div>
    </div>
   </div>
</section>
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/review.js' %}"></script>
{% endblock %}