{% extends "base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<section class="section">
    {% if messages %}
      <ul class="info-msg center">
          {% for message in messages %}
              <li>{{ message.message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <div class="container center allauth-container">
        <div class="allauth-heading">
            <h1>{% trans "Password Reset" %}</h1>
        </div>   
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <div class="allauth-paragraph center">
            <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        </div>
    
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset input">
            {% csrf_token %}
            {{ form }}
            <input class="button button-bright reset-btn" type="submit" value="{% trans 'Reset My Password' %}" />
        </form>
    
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>   
    </div>
</section>
{% endblock %}
