{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<section id="register">
  <div class="main-image image-shadow">
    <img src="/media/puppy.png" class="puppy-dog-img" alt="" />
  </div>
  <div class="register-bg-shape"></div>
  <div class="container">
    <div class="half-bg"></div>
    <div class="form-grid-container">
      <div class="heading">
        <h2>Register your account!</h2>
        <p>Alredy have account? <a href="{{ login_url }}">LOGIN</a></p>
        {% load socialaccount %}
        <div class="fb-button button center">
          <a href="{% provider_login_url "facebook" method="js_sdk" next='/about/' %}"><i class="fab fa-facebook-square"></i> Join via Facebook</a>
        </div>
        {% providers_media_js %}
      </div>
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %} 
        {{ form.as_p }} 
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <div class="form-grid-input form-input r-input">
          <button class="button button-bright register-input" type="submit">{% trans "REGISTER" %} &raquo;</button>
          <p>By joining, you agree to the Terms and Privacy Policy</p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}
