{% extends "base.html" %}
{% load static %}
{% load socialaccount %}
{% load i18n socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}
{% block content %}
<section id="register">
  {% if messages %}
  <ul class="info-msg center">
      {% for message in messages %}
          <li>{{ message.message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
  <div class="main-image image-shadow">
    <img src="{% static 'images/puppy.png' %}" class="puppy-dog-img" alt="" />
  </div>
  <div class="register-bg-shape bg-img"></div>
  <div class="container">
    <div class="half-bg"></div>
    <div class="form-grid-container">
      <div class="heading">
        <h2>Register your account!</h2>
      </div>
      {% get_providers as socialaccount_providers %}
      <div class="social-btns">
        {% if socialaccount_providers %}
          <p>{% blocktrans with site.name as site_name %}Please register with one
          of your existing social accounts or form below, or <a href="{{ login_url }}">LOGIN</a>
          for a Walkers account {% endblocktrans %}</p>
          <div class="socialaccount_ballot">
            <ul class="socialaccount_providers">
              {% include "socialaccount/snippets/provider_list.html" with process="login" %}
            </ul>
          </div>
        {% include "socialaccount/snippets/login_extra.html" %}
        {% else %}
          <p>{% blocktrans %}If you have not created an account yet, then please
          <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
        {% endif %}
      </div>
      
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %} 
        {{ form }} 
        {% if redirect_field_value %}     
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>   
        {% endif %}
        <div class="form-grid-input form-input">
          <button class="button button-bright register-input" value="submit" type="submit">{% trans "REGISTER" %} &raquo;</button>
          <p class="terms-txt">By joining, you agree to the Terms and Privacy Policy</p>
        </div>
      </form>
    </div>
  </div>
</section>
{% endblock %}