{% extends 'base.html' %} {% load static %} {% block content %}
<!-- hero section -->
<main id="home-section" class="section">
  <div class="home-bg-shape-1"></div>
  <div class="home-bg-shape-2"></div>
  <div class="container">
    <div class="half-home-bg">
      <img
        src="/media/q-mark.png"
        class="mark-img small-mark small-mark-left"
        alt="A question mark-img"
      />
      <img
        src="/media/q-mark.png"
        class="mark-img big-mark"
        alt="A question mark"
      />
      <img
        src="/media/q-mark.png"
        class="mark-img small-mark small-mark-right"
        alt="A question mark-img"
      />
    </div>
    <div class="main-image image-shadow">
      <img src="/media/dog1.png" class="home-dog-img" alt="A dog" />
    </div>
    <div class="home-txt center">
      <div class="main-txt center">
        <h1>ARE YOU LOOKING FOR PROFESSIONAL PET SITTER OR DOG WALKER?</h1>
        <p>Find one with us !</p>
      </div>
      <div class="button button-bright center home-button">
        <a href="#searching-section">
          SEARCH
          <span><i class="fas fa-arrow-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</main>
<!-- search section -->
<section id="searching-section" class="section">
  <div class="searching-bg-shape"></div>
  <div class="container">
    <div class="search-form">
      <h2>LET'S FIND THE PERSON WHO WILL TAKE THE BEST CARE OF YOUR DOG!</h2>
      <p>
        Please enter below information about you and your dog and start
        searching!
      </p>
      <form id="form-box">
        <div class="form-input center">
          <label for="post-code">My Post Code</label>
          <input type="text" id="post-code" />
        </div>
        <div class="form-input center">
          <label for="care-type">Care Type</label>
          <input list="care-type" />
          <datalist id="care-type">
            <option value="Boarding in the sitter home"></option>
            <option value="House sitting in your home"></option>
            <option value="Walking in your neighbourhood"></option>
          </datalist>
        </div>
        <div class="form-input center">
          <label for="dog-size">My Dog Size</label>
          <input list="dog-size" />
          <datalist id="dog-size">
            <option value="0-7 kg"></option>
            <option value="7-18 kg"></option>
            <option value="18-45 kg"></option>
            <option value="> 45kg"></option>
          </datalist>
        </div>
        <div class="form-input center">
          <label for="time">Start date</label>
          <input type="date" />
        </div>
      </form>
      <input
        id="send-button"
        class="send-btn button button-bright"
        type="submit"
        value="SEARCH"
      />
    </div>
    <div class="search-dog-img">
      <img src="/media/dog2.png" class="search-dog-image" alt="A dog" />
    </div>
    <div class="search-section-box">
      <img src="/media/heart.png" class="heart-1" alt="Heart icon" />
      <img src="/media/heart.png" class="heart-2" alt="Heart icon" />
    </div>
  </div>
</section>
<!-- join section -->
<section id="join-section" class="section">
  <div class="join-bg-shape"></div>
  <div class="container">
    <div class="half-join-bg"></div>
    <div class="paws-img paw-1 image-shadow-2"></div>
    <div class="paws-img paw-2 image-shadow-2"></div>
    <div class="main-image image-shadow">
      <img src="/media/dog3.png" class="home-dog-img" alt="A dog" />
    </div>
    <div class="join-txt center">
      <div class="main-txt center">
        <h1>GET PAID TO PLAY WITH PETS !</h1>
        <p>
          Walkers makes it easy and promotes you to the UK's largest network of
          pet parents!
        </p>
        <h2>
          How it works ? <br />
          It's simple !
        </h2>
        <div class="join-instructions">
          <div class="step">
            <div class="step-no center">1</div>
            <div class="step-txt"><p>Create Your Profile</p></div>
          </div>
          <div class="step">
            <div class="step-no center">2</div>
            <div class="step-txt"><p>Accept Requests</p></div>
          </div>
          <div class="step">
            <div class="step-no center">3</div>
            <div class="step-txt"><p>Get Paid</p></div>
          </div>
        </div>
      </div>
      <div class="button button-bright center join-button">
        <a href="#">
          SIGN UP
          <span><i class="fas fa-arrow-right"></i></span>
        </a>
      </div>
    </div>
  </div>
</section>

{% block extra_js %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock %} {% endblock %}
