{% extends 'base.html' %}
{% load static %} 
{% block content %}

<section class="my-reviews-section">
    <div class="section-heading my-reviews-heading">
        <h2>Check your reviews</h2>
    </div>
    <div class="container">
        <div class="reviews_list">
            {% if my_reviews %}
                <div class="reviews_list__profiles">
                    {% for i in my_reviews %}
                        <div class="reviews_list__profile">
                            {% if i.user.avatar %}
                                <div class="review-icon" 
                                style="background: url('{{i.user.avatar.url}}') no-repeat center center/cover"></div>
                            {% else %}
                                <div class="review-icon" 
                                style="background: url('/media/user.png') no-repeat center center/cover"></div>    
                            {% endif %}
                            <span class="reviews_list__name">{{i.user.first_name}}</span>
                            <a href="#" class="reviews_list__value">edit review</a>
                        </div>
                    {% endfor %}
                    </div>
            {% else %}
            <div class="center">
                <h2>You haven't given any review yet...</h2>
                <img src="/media/happy-dog.gif" alt="">
            </div>
            {% endif %}    
        </div>
</section>

{% endblock %}

{% block extra_js %}
{% endblock %}