{% extends 'base.html' %}
{% load static %} 
{% block content %}


<section class="walker-profile-section">
{% if messages %}
  <ul class="authenticate-msg center">
      {% for message in messages %}
          <li>{{ message.message }}</li>
      {% endfor %}
  </ul>
{% endif %}
    <div class="bg-shape"></div>
    <div class="container">
        <div class="tabs">
            <div class="tabs-sidebar center">
              <h2>My Profile</h2>
              <button class="tabs-button blind-btn"></button> 
              <button 
                {% if tab == 'update_profile' %}
                  class="tabs-button button display-tab-white"
                {% else %} 
                  class="tabs-button button"
                {% endif %}
               >Update profile</button>
              <button
              {% if tab == 'address_form' %}
                class="tabs-button button display-tab-white"
              {% else %} 
                class="tabs-button button"
              {% endif %}
              >Address Details</button>     
              <button class="tabs-button button"> Edit account</button>
              <button
              {% if tab == 'avatar' %}
              class="tabs-button button display-tab-white"
              {% else %} 
                class="tabs-button button"
              {% endif %}
              class="tabs-button button ">Upload Photo</button>
              {% if is_petsitter %}     
              <button
              {% if tab == 'description' %}
              class="tabs-button button display-tab-white"
              {% else %} 
                class="tabs-button button"
              {% endif %}
              class="tabs-button button"> Pet sitter profile</button>
              {% endif %}           
             </div>
             <div class="tabs-content">
              <div class="main-image center ">
                <img src="/media/dog-walking.gif" class="profile-dog-img" alt="A dog" />
              </div>
             </div>

             <div {% if tab == 'update_profile' %} class="tabs-content display-content" {% else %} class="tabs-content" {% endif %} >
              <h2>Update Profile</h2>
              <form class="details-box center" method="post">
                {% csrf_token %}

                <label class="profile-label">Phone number:</label>
                {{ profile_form.phone_number }}
                {% if errors.profile_form_errors and 'phone_number' in errors.profile_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.profile_form_errors.phone_number.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">Email:</label>
                {{ profile_form.email }}
                {% if errors.profile_form_errors and 'email' in errors.profile_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.profile_form_errors.email.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">First Name:</label>
                {{ profile_form.first_name }}
                {% if errors.profile_form_errors and 'first_name' in errors.profile_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.profile_form_errors.first_name.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">Last Name:</label>
                {{ profile_form.last_name }}
                {% if errors.profile_form_errors and 'last_name' in errors.profile_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.profile_form_errors.last_name.0}}</strong>
                </div>
                {% endif%}

                <input type="hidden" name="form_type" value="profile_form" /> 
                <input class="button button-bright update-profil" type="submit" value="Update" />
              </form>
            </div>

             <div {% if tab == 'address_form' %} class="tabs-content display-content" {% else %} class="tabs-content" {% endif %} >
              <h2>Address Details</h2>

              <form class="details-box center" method="post">
                {% csrf_token %}    

                <label class="profile-label">Address 1:</label>
                {{ address_form.address_1 }}
                {% if errors.address_form_errors and 'address_1' in errors.address_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.address_form_errors.address_1.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">Address 2:</label>
                {{ address_form.address_2 }}
                {% if errors.address_form_errors and 'address_2' in errors.address_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.address_form_errors.address_2.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">Post Code:</label>
                {{ address_form.post_code }}
                {% if errors.address_form_errors and 'post_code' in errors.address_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.address_form_errors.post_code.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">Town:</label>
                {{ address_form.town }}
                {% if errors.address_form_errors and 'town' in errors.address_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.address_form_errors.town.0}}</strong>
                </div>
                {% endif%}

                <label class="profile-label">County:</label>
                {{ address_form.county }}
                {% if errors.address_form_errors and 'county' in errors.address_form_errors %}
                <div class="error-profile">
                  <strong>{{errors.address_form_errors.county.0}}</strong>
                </div>
                {% endif%}
                
                <input type="hidden" name="form_type" value="address_form" /> 
                <input class="button button-bright" type="submit" value="Update" />
              </form>
            </div>


            <div class="tabs-content">
              <h2>Edit Account</h2>

              <div class="edit-box change-password">
                  <h2>Change password</h2>
                  <form class="center" action="post">
                {% csrf_token %}
                    <p>To change the current password, click on this <a class="password-link" href="{% url 'password_change' %}">link</a> <br>
                      You can change your password only if you do not have an account registered via social media.
                    </p>
                  </form>
                </div>

                <div class="edit-box center">
                  <h2>Delete account</h2>
                  <div class="button button-bright center">
                    <a href="{% url 'user_confirm_delete' user.id %}">Delete account</a>
                  </div>
                </div>
            </div>

             <div {% if tab == 'avatar' %} class="tabs-content display-content" {% else %} class="tabs-content" {% endif %} >
               <h2>Upload Your Photo</h2>
              <form class="profile-img-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if errors.avatar_errors in errors.avatar_errors %}
                <div class="error-profile">
                  <strong>{{errors.avatar_errors.0}}</strong>
                </div>
                {% endif %}
                {% if user.avatar %}           
                  <div class="img-box center">
                    <div class="user-img center" style="background: url('{{request.user.avatar.url}}') no-repeat center center/cover"></div>
                  </div>                        
                {% else %}
                  <div class="img-box center">
                    <div class="no-user-img"></div>
                  </div>
                 {% endif %}
                 <div class="avatar-txt">
                   {{avatar}}
                 </div>             
                <input type="hidden" name="form_type" value="avatar" /> 
                <input class="button button-bright" type="submit" value="Upload" />
              </form>
             </div>

             {% if is_petsitter %}

              <div {% if tab == 'description' %} class="tabs-content display-content" {% else %} class="tabs-content" {% endif %}>
                <h2>Pet sitter profile</h2>
                <form class="details-box center" method="post">
                  {% csrf_token %}
                  {{description}}
                  {% if errors.description_errors in errors.description_errors %}
                  <div class="error-profile">
                    <strong>{{errors.description_errors.0}}</strong>
                  </div>
                  {% endif %}
                    <!-- <input type="text" placeholder="Services I offer" />
                    <input type="text" placeholder="Price for my services" />
                    <input type="text" placeholder="Dog size I can take" />
                    <textarea type="text" placeholder="write something about yourself..."></textarea> -->
                    <input type="hidden" name="form_type" value="description" />
                    <input class="button button-bright" type="submit" value="Save" />
                  </form>
              </div>
              
              {% endif %}     
        </div>      
    </div>
  </section>
 

{% block extra_js %}
<script src="{% static 'user/js/user.js' %}"></script>
{% endblock %}
 
{% endblock %}