@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --yellow-color: #eea300;
  --light-yellow-color: #ffeb96;
  --white-color: #ffffff;
  --black-color: #000000;
  --surface-color: #fff;
  --curve: 40;
}

html {
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4 {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
}

a {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
}

p {
  font-family: "Lato", sans-serif;
  letter-spacing: 1px;
}

li {
  list-style: none;
}

label {
  font-family: "Lato", sans-serif;
}

.errorlist {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: rgb(255, 60, 0);
}

.section {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.section-heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container {
  max-width: 1200px;
  height: 100%;
  display: flex;
  position: relative;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-shadow {
  filter: drop-shadow(3px 1px 20px rgb(0 0 0 / 60%));
}

.image-shadow-2 {
  filter: drop-shadow(3px 1px 3px rgb(0 0 0 / 33%));
}

.button {
  width: 185px;
  height: 65px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgb(0 0 0 / 0%);
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  font-weight: bold;
  cursor: pointer;
  font-size: 13px;
  letter-spacing: 1px;
  border: none;
  text-transform: uppercase;
}

.button-bright {
  background-color: var(--yellow-color);
  transition-duration: 0.4s;
}

.button-dark {
  background-color: var(--black-color);
  color: var(--yellow-color);
  transition-duration: 0.4s;
}

.button a {
  height: 100%;
  width: 100%;
  padding-top: 23px;
  transition-duration: 0.3s;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  letter-spacing: 2px;
  color: var(--black-color);
  font-size: 13px;
  transition-duration: 0.4s !important;
  text-transform: uppercase;
}

.button:hover {
  color: var(--white-color);
  box-shadow: 0 10px 10px -10px rgb(0 0 0 / 50%);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.button a:hover {
  color: var(--white-color) !important;
}

.button span {
  margin-left: 10px;
}

.terms-txt {
  text-align: center;
}

/*----------------- navbar */
#header {
  width: 100%;
  height: 80px;
  position: fixed;
  z-index: 1000;
  padding: 10px;
  transition: background ease-in-out 0.5s, top ease 0.6s;
}

#header.scrolled {
  background: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 2px 15px;
}

.wrapper-menu {
  display: none;
}

.close-btn {
  display: none;
}

.bg-color {
  background-color: var(--yellow-color);
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 15px;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  flex-direction: row;
  height: 60px;
}

.nav-list a {
  text-transform: uppercase;
  margin-left: 10px;
  margin-right: 15px;
  margin-top: 10px;
  transition-duration: 0.2s;
  font-family: "Lato", sans-serif;
  text-decoration: none;
  font-size: 17px;
  color: var(--black-color);
}

.nav-list i {
  font-size: 25px;
}

.nav-list a:hover {
  color: rgb(255, 60, 0);
}

.nav-list a.active {
  color: rgb(255, 60, 0);
}

.welcome-msg {
  font-family: "Architects Daughter", cursive;
  text-transform: lowercase;
  color: #fb7400;
  letter-spacing: 1px;
}

.logo {
  height: 100px;
  width: 100px;
  position: absolute;
  margin-left: 9%;
}

.logo img {
  height: 100%;
  width: 100%;
}

/*------------------- home section */

.authenticate-msg {
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
  font-weight: bold;
  position: absolute;
  z-index: 100;
  font-size: 22px;
  top: 10%;
  box-shadow: rgb(100 100 111 / 40%) 0px 7px 29px 0px;
  background-color: rgb(238 163 0 / 70%);
  width: 400px;
  height: fit-content;
  top: 12%;
  left: 50%;
  transform: translate(-50%, -70%);
}

#home-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.home-txt {
  height: 100%;
  width: 40%;
}

.home-txt h1 {
  margin-bottom: 35px;
  font-size: 45px;
}

.home-txt p {
  font-size: 25px;
  font-family: "Architects Daughter", cursive;
  font-weight: bold;
  letter-spacing: 2px;
}

.main-txt {
  height: 77%;
}

.home-button {
  margin-top: -30%;
}

.home-button-petsitter {
  margin-top: 8%;
  width: 300px;
}

.half-home-bg {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.main-image {
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 0;
}

.home-dog-img {
  position: absolute;
  bottom: 0;
  left: -35%;
}

.mark-img {
  position: relative;
}

.small-mark {
  height: 180px;
  top: 20%;
}

.big-mark {
  height: 300px;
  top: 5%;
}

.small-mark-left {
  transform: rotate(327deg);
}

.small-mark-right {
  transform: rotate(27deg);
}

.home-bg-shape-1 {
  background: url(/media/circle2.png) no-repeat center center/cover;
  position: absolute;
  height: 1000px;
  width: 1000px;
  left: -10%;
  top: -12%;
}

.home-bg-shape-2 {
  background: url(/media/circle1.png) no-repeat center center/cover;
  position: absolute;
  height: 700px;
  width: 700px;
  right: -5%;
  top: 0;
}

/* search section */
#searching-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.searching-bg-shape {
  background: url(/media/circle2.png) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 800px;
  right: -5%;
  bottom: 0;
}

.search-form {
  width: 50%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  text-align: center;
}

.search-form h2 {
  font-size: 35px;
  padding-left: 50px;
  padding-right: 50px;
}

.search-form p {
  margin-bottom: 15px;
  margin-top: 20px;
  font-size: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

#form-box {
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: space-evenly;
  height: 60%;
  width: 100%;
}

.form-input {
  width: 100%;
}

.form-input label {
  font-family: "Lato", sans-serif;
    margin-bottom: 8px;
    margin-top: 10px;
   
}

.form-input input, select {
  height: 40px;
  width: 85%;
  outline: none;
  border: 1px solid rgb(0 0 0 / 20%);
  cursor: pointer;
  text-transform: uppercase;
 text-align: center;
 letter-spacing: 1px;
}


.search-dog-img {
  height: 100%;
  width: 60%;
  position: absolute;
  bottom: 0;
}

.search-dog-image {
  position: absolute;
  bottom: 0;
  right: -70%;
  filter: drop-shadow(3px 1px 10px rgb(0 0 0 / 90%));
}

.search-section-box {
  height: 100%;
  width: 40%;
}

.heart-1 {
  position: relative;
  top: 22%;
}

.heart-2 {
  position: relative;
  top: 8%;
  transform: rotate(49deg);
}

/*-------------------- join section */
#join-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.half-join-bg {
  width: 45vw;
}

.join-txt {
  height: 100%;
  width: 50%;
}

.join-txt h1 {
  margin-bottom: 30px;
  margin-top: 50px;
  font-size: 45px;
}

.join-txt h2 {
  margin-top: 30px;
  font-size: 35px;
}

.join-txt p {
  font-size: 20px;
}

.join-instructions {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  height: 30%;
  margin-top: 20px;
  align-items: center;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.step-no {
  width: 50px;
  height: 50px;
  border: 1px solid black;
  border-radius: 50%;
  font-family: "Architects Daughter", cursive;
  font-size: 25px;
  margin-right: 50px;
}

.step-txt {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 60%;
}

.join-bg-shape {
  background: url(/media/circle2.png) no-repeat center center/cover;
  position: absolute;
  height: 800px;
  width: 800px;
  left: -10%;
  top: 0;
}

.paws-img {
  background: url(/media/paws.png) no-repeat center center/cover;
  position: absolute;
  height: 200px;
  width: 200px;
  transform: rotate(28deg);
  z-index: -2;
}

.paw-1 {
  bottom: 30%;
  right: -5%;
}

.paw-2 {
  bottom: 10%;
  right: -5%;
}

/* --------------------about section */
#about-section {
  position: relative;
  height: 100vh;
}

.half-about-bg {
  height: 100%;
  width: 30%;
}

.heart-about-1 {
  top: 4%;
  position: absolute;
  height: 100px;
  width: 100px;
  left: 9%;
  transform: rotate(37deg);
}

.heart-about-2 {
  top: 19%;
  position: absolute;
  height: 150px;
  width: 150px;
  left: 6%;
  transform: rotate(41deg);
}

.heart-about-3 {
  top: 14%;
  position: absolute;
  height: 120px;
  width: 120px;
  left: -4%;
  transform: rotate(340deg);
}

.about-txt {
  width: 70%;
  height: 100%;
  padding: 30px;
}

.about-txt h1 {
  font-size: 45px;
  margin-top: 50px;
}

.about-txt h2 {
  font-size: 35px;
}

.about-txt p {
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  line-height: 30px;
}

.about-box {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  width: 100%;
  margin-top: 10px;
  align-items: center;
}

.about-dog-img {
  position: absolute;
  height: 120%;
  bottom: -45%;
  right: 75%;
}

.safety-box {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.safety-icon {
  font-size: 30px;
  color: #18d777;
  margin-right: 4%;
  margin-left: 4%;
}

/* -------------------footer */
#footer {
  background: url(/media/footer.jpg) no-repeat center center/cover;
  position: relative;
  overflow: hidden;
}

#footer p {
  color: var(--black-color);
  text-align: center;
  padding-bottom: 30px;
  letter-spacing: 1px;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  height: 400px;

  color: var(--black-color);
  width: 1300px;
  margin: 0 auto;
}

.footer-box {
  text-align: left;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-weight: bold;
}

.footer-box h3 {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-box ul {
  margin-top: 30px;
}

.footer-box li {
  list-style: none;
  line-height: 41px;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.footer-box a {
  color: var(--brown-color);
  transition-duration: 0.2s;
}

.footer-box a:hover {
  color: var(--white-color);
}

.footer-box i {
  font-size: 25px;
}

.social-icons {
  text-align: center;
  margin-right: 50px;
  width: 190px;
}

.social-icons ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 40px;
}

.social-icons i {
  transition: all 0.2s ease-in-out;
}

.social-icons i:hover {
  transform: scale(1.5);
  color: var(--brown-color);
}

.box-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  position: relative;
  margin: 0px auto;
  padding-top: 20px;
}

.box-logo img {
  width: 100%;
  height: 100%;
}

/* --------register page */
#register {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.puppy-dog-img {
  position: absolute;
  bottom: 0;
  left: 10%;
  height: 100%;
}

.register-bg-shape {
  background: url(/media/circle2.png) no-repeat center center/cover;
  position: absolute;
  height: 900px;
  width: 900px;
  left: 0;
  top: 0;
  z-index: -20;
}

.half-bg {
  height: 100%;
  width: 60%;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading h2 {
  font-size: 35px;
  margin-bottom: 10px;
}

.heading a {
  color: var(--yellow-color);
}

.fb-button {
  width: 100%;
  background-color: #475993;
}

.fb-button a {
  color: var(--white-color);
}

.google-button {
  width: 100%;
  background-color: #db4437;
}

.google-button a {
  color: var(--white-color);
}

.form-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 40%;
  height: 80%;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  height: 45vh;
}

.signup input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid rgb(0 0 0 / 28%);
}

label[for="id_is_petsitter"] {
  margin-top: 6px;
  position: relative;
}

.signup input[type="checkbox"] {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 0;
}

.signup input::placeholder {
  font-family: "Lato", sans-serif;
  color: var(--black-color);
  letter-spacing: 1px;
  font-weight: bold;
}

.signup p {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.register-input {
  cursor: pointer;
  width: 100%;
}

.sign-in-social-btn {
  position: absolute;
  bottom: 30%;
}

/* ------------login page */

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}

.login input {
  width: 100%;
  height: 50px;
  padding-left: 10px;
  border: 1px solid rgb(0 0 0 / 28%);
}

.login-form-grid-container {
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  width: 40%;
  height: 70%;
}

.login p {
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.login input::placeholder {
  font-family: "Lato", sans-serif;
  color: var(--black-color);
  letter-spacing: 1px;
  font-weight: bold;
}

.login .errorlist {
  font-size: 15px;
  font-family: "Lato", sans-serif;
  color: rgb(255, 60, 0);
}

.secondaryAction {
  color: var(--black-color);
  bottom: 5px;
  position: relative;
}

label[for="id_remember"] {
  width: auto;
  margin-top: 6px;
  position: absolute;
}

#id_remember {
  position: relative;
  margin-left: -85px;
  height: 30px;
}

/* -------------logout page */
.logout {
  height: 100vh;
  overflow: hidden;
}

.logout-heading {
  height: 20%;
  width: 100%;
}

.buttons-box {
  display: flex;
  width: 40%;
  align-items: center;
  justify-content: space-evenly;
}

.logout-heading h2 {
  font-size: 35px;
}

.logout-heading p {
  margin-top: 40px;
  font-size: 25px;
}

.back-button {
  padding-top: 22px;
  color: var(--black-color);
}

.login-cancelled-box {
  display: flex;
  flex-direction: column;
  height: 20%;
  width: 50%;
  align-items: center;
  justify-content: space-around;
}

/* -----------------question (register  with social media templates)*/
.question-section {
  height: 100vh;
}

.question-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 60%;
  justify-content: space-evenly;
}

.question-box h2 {
  font-size: 35px;
  margin-bottom: -60px;
}

.question-form {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.form input[type="checkbox"] {
  width: 30px;
  height: 30px;
}

.question-form label {
  font-family: "Lato", sans-serif;
  font-size: 20px;
  letter-spacing: 1px;
}

.question-button {
  margin-top: 70px;
}

/* social section templates */
.social-section {
  height: 100vh;
}

.social-heading {
  width: 40%;
}

.social-heading h1 {
  font-size: 35px;
  margin-bottom: 25px;
}

.social-heading p {
  font-size: 20px;
}

.social-cancelled-box {
  width: 40%;
  margin-top: 35px;
}

.social-cancelled-box p {
  font-size: 20px;
}

.social-button {
  width: 100%;
  margin-top: 20px;
}

/* ------------walker dashboard */

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.walker-profile-section {
  height: 100vh;
}

.tabs {
  display: flex;
  height: 85%;
  width: 100%;
  align-items: center;
  border-radius: 25px;
}

.tabs-sidebar {
  width: 35%;
  height: 75%;
  border-radius: 25px;
}

.tabs-sidebar h2 {
  color: var(--yellow-color);
  text-transform: uppercase;
  margin-bottom: 40px;
  font-size: 35px;
  margin-top: -20%;
}

.blind-btn {
  display: none;
}

.profile-dog-img {
  height: 75%;
}

.tabs-button {
  height: 85px;
  padding: 14px;
  width: 75%;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: -59px;
  transition-duration: 0.4s;
  font-family: "Architects Daughter", cursive;
  letter-spacing: 2px;
  font-size: 20px;
  background-color: #eea300;
  color: var(--white-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.tabs-button:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.tabs-content {
  display: none;
  width: 60%;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
  animation: fadeEffect 1s;
}

.tabs-content h2 {
  text-transform: uppercase;
  margin-bottom: 67px;
  color: #ee4200;
  margin-top: 40px;
  font-size: 25px;
}

.tabs-content h3 {
  width: 50%;
  margin-top: 15%
}

.profile-img-form {
  display: flex;
  align-items: center;
  width: 400px;
  height: 550px;
  justify-content: space-evenly;
  flex-direction: column;
}

label[for="id_avatar"] {
  display: none;
}

.profile-img-form input[type="file"] {
  font-family: "Architects Daughter", cursive;
  text-transform: uppercase;
  margin-left: 118px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}

.upload-btn {
  border: none;
  width: 100%;
  height: 45px;
  text-transform: uppercase;
  color: var(--white-color);
}

.no-user-img {
  width: 250px;
  height: 250px;
  background: url(/media/user.png) no-repeat center center/cover;
  border-radius: 50%;
}

.user-img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.img-box {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.details-box {
  width: 100%;
  height: 55%;
}

label[for="id_description"] {
  display: none;
}

.details-box input {
  height: 40px;
  width: 65%;
  margin-bottom: 25px;
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 10px;
}

.details-box textarea {
  padding: 10px;
}

.details-box input::placeholder {
  text-transform: lowercase;
  color: var(--black-color);
  padding: 10px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.details-box textarea {
  height: 50%;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid rgb(0 0 0 / 12%);
  font-family: "Lato", sans-serif;
  overflow: overlay;
}

.details-box textarea::placeholder {
  text-transform: lowercase;
  padding: 10px;
  color: var(--black-color);
  letter-spacing: 1px;
}

.edit-box {
  height: 25%;
  width: 70%;
}

.edit-box p {
  font-size: 20px;
}

.edit-box h2 {
  margin-bottom: 20px;
  text-align: center;
}

.edit-box input {
  height: 40px;
  width: 100%;
  margin-bottom: 10px;
  border: 1px solid rgb(0 0 0 / 12%);
}

.edit-box input::placeholder {
  text-transform: uppercase;
  color: var(--black-color);
  padding: 10px;
  letter-spacing: 1px;
  font-family: "Lato", sans-serif;
}

.profile-label {
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
}

.update-profil {
  text-transform: uppercase;
}

.display-content {
  display: flex !important;
}

.display-tab-white {
  background-color: var(--white-color);
  color: #eea300;
}

.display-tab-white:hover {
  color: #eea300;
}

.display-tab-orange {
  background-color: #eea300;
  color: var(--white-color);
}

.display-tab-orange:hover {
  color: var(--white-color);
}

.error-profile {
  font-family: "Lato", sans-serif;
  color: #db4437;
  margin-bottom: 10px;
  margin-top: -15px;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1px;
  width: 65%;
}

.avatar-error {
  position: absolute;
  height: 100px;
  width: 200px;
  top: 10%;
  background-color: #18d777;
}



.error-profile li {
  margin-bottom: 10px;
}

/* --------delete account */
.delete-form {
  height: 30%;
  width: 46%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.delete-heading h2 {
  font-size: 35px;
}

.delete-heading p {
  font-size: 20px;
}

.delete-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

/* --------------change password section */
.change-password-box h2 {
  font-size: 35px;
  margin-bottom: 40px;
}

.change-password-form {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.change-password-form p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 35%;
}

.change-password-form input {
  height: 40px;
  width: 100%;
  margin-bottom: 25px;
  border: 1px solid rgb(0 0 0 / 12%);
  padding: 10px;
}

.change-password-form ul {
  display: none;
}

.change-password-form li {
  font-family: "Lato", sans-serif;
}

.password-link {
  color: var(--yellow-color);
  font-weight: bold;
}

/* ------------petsitter profile form*/
/* https://codepen.io/EightArmsHQ/pen/rNBZKNZ */

.petsitter-layout {
  display: grid;
  height: 100%;
  width: 100%;
  overflow: hidden;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.petsitter-layout label {
  user-select: none;
  text-decoration: none;
  color: inherit;
  transition: border 0.2s;
  font-size: 16px;
  letter-spacing: 1px;
}

.petsitter-layout input[type="radio"] {
  display: none;
}

.petsitter-layout label.service-type {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 2px solid var(--yellow-color);
  background: var(--white-color);
  user-select: none;
  transition: background 0.4s, padding-left 0.2s;
  padding-left: 0;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

.petsitter-layout input[type="radio"]:checked + .page + label.service-type {
  background: var(--yellow-color);
  color: #ffffff;
}

.form-title {
  display: flex;
  margin-bottom: 20px;
  margin-top: 10px;
}

.petsitter-layout input[type="radio"]:checked + .page + label.service-type svg {
  opacity: 1;
}

.petsitter-layout label.service-type span {
  padding-left: 0px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
}

.page {
  grid-column-start: 1;
  grid-row-start: 2;
  grid-column-end: span 4;
  padding: 0px 20px;
}

.page-contents > * {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.2s, transform 0.2s;
}
.page-contents > *:nth-child(1) {
  transition-delay: 0.4s;
}
.page-contents > *:nth-child(2) {
  transition-delay: 0.6s;
}
.page-contents > *:nth-child(3) {
  transition-delay: 0.8s;
}
.page-contents > *:nth-child(4) {
  transition-delay: 1s;
}
.page-contents > *:nth-child(5) {
  transition-delay: 1.2s;
}
.page-contents > *:nth-child(6) {
  transition-delay: 1.4s;
}
.page-contents > *:nth-child(7) {
  transition-delay: 1.6s;
}
.page-contents > *:nth-child(8) {
  transition-delay: 1.8s;
}
.page-contents > *:nth-child(9) {
  transition-delay: 2s;
}
.page-contents > *:nth-child(10) {
  transition-delay: 2.2s;
}
.page-contents > *:nth-child(11) {
  transition-delay: 2.4s;
}
.page-contents > *:nth-child(12) {
  transition-delay: 2.6s;
}
.page-contents > *:nth-child(13) {
  transition-delay: 2.8s;
}
.page-contents > *:nth-child(14) {
  transition-delay: 3s;
}
.page-contents > *:nth-child(15) {
  transition-delay: 3.2s;
}
.page-contents > *:nth-child(16) {
  transition-delay: 3.4s;
}
.page-contents > *:nth-child(17) {
  transition-delay: 3.6s;
}
.page-contents > *:nth-child(18) {
  transition-delay: 3.8s;
}
.page-contents > *:nth-child(19) {
  transition-delay: 4s;
}
.page-contents > *:nth-child(20) {
  transition-delay: 4.2s;
}

.petsitter-layout input[type="radio"] + .page {
  transition: transform 0.2s;
  transform: translateX(100%);
}

.petsitter-layout input[type="radio"]:checked + .page {
  transform: translateX(0%);
}

.petsitter-layout input[type="radio"]:checked + .page .page-contents > * {
  opacity: 1;
  transform: translateY(0px);
}

.page-contents {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: space-evenly;
}

.page-contents p {
  font-size: 17px;
  margin-bottom: -23%;
}

.page-heading {
  width: 100%;
  text-align: center;
}

.page-btn {
  height: 40px;
  position: relative;
  margin: 15px 235px;
}

.page-heading h2 {
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-bottom: 10px;
  margin-top: 25px;
  color: var(--yellow-color);
}

.form-info {
  width: 100%;
  height: 20%;
  margin-left: 10%;
}

.petsitter-form input[type="text"] {
  width: 75px;
  height: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  padding: 5px;
}

.petsitter-form input[name="is_small_dog"] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

.petsitter-form input[name="is_medium_dog"] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

.petsitter-form input[name="is_big_dog"] {
  width: 20px;
  height: 20px;
  position: relative;
  top: 6px;
}

label[for="small_dog"] {
  position: relative;
  margin-left: 30px;
}

label[for="medium_dog"] {
  position: relative;
  margin-left: 30px;
}

label[for="big_dog"] {
  position: relative;
  margin-left: 30px;
}

/* https://www.htmllion.com/css3-toggle-switch-button.html */
.switch {
  position: relative;
  display: block;
  width: 100px;
  height: 30px;
  padding: 3px;
  margin: 0 10px 10px 0;
  background: linear-gradient(to bottom, #eeeeee, #ffffff 25px);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff 25px);
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12),
    inset 0 0 2px rgba(0, 0, 0, 0.15);
}

.switch-label:before,
.switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -0.5em;
  line-height: 1;
  -webkit-transition: inherit;
  -moz-transition: inherit;
  -o-transition: inherit;
  transition: inherit;

}

.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaaaaa;
  font-weight: bold;
  font-size: 14px;
  font-family: "Lato", sans-serif;

}

.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: #ffffff;
  opacity: 0;
  font-size: 14px;
  font-weight: bold;
  font-family: "Lato", sans-serif;

}

.switch-input:checked ~ .switch-label {
  background: var(--yellow-color);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15),
    inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}

.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 28px;
  height: 28px;
  background: linear-gradient(to bottom, #ffffff 40%, #f0f0f0);
  background-image: -webkit-linear-gradient(top, #ffffff 40%, #f0f0f0);
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: linear-gradient(to bottom, #eeeeee, #ffffff);
  background-image: -webkit-linear-gradient(top, #eeeeee, #ffffff);
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}

.switch-input:checked ~ .switch-handle {
  left: 74px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* Transition
    ========================== */
.switch-label,
.switch-handle {
  transition: All 0.3s ease;
  -webkit-transition: All 0.3s ease;
  -moz-transition: All 0.3s ease;
  -o-transition: All 0.3s ease;
}

/* --------------------------errors */
.error-box {
  width: 50%;
  height: 50%;
}


.error-box h2 {
  text-transform: uppercase;
}

.error-img {
  background: url(/media/cant.gif) no-repeat center center/cover;
  width: 500px;
  height: 500px;
}

.error-img-404 {
  background: url(/media/error404.gif) no-repeat center center/cover;
  width: 500px;
  height: 500px;
}

.error-img-500 {
  background: url(/media/server-error.gif) no-repeat center center/cover;
  width: 500px;
  height: 500px;
}

.not-found {
  background: url(/media/not-found.gif) no-repeat center center/cover;
  width: 500px;
  height: 500px;
}


.not-found-button {
  margin-bottom: 100px;
  margin-top: 60px;
}

/* -------------------Petsitters list */
/* https://codepen.io/seyedi/pen/zYoeLEv */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  gap: 10px;
  margin: 40px 25px;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;  
  border-radius: calc(var(--curve) * 1px);
  overflow: hidden;
  text-decoration: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.card__image {      
  width: 100%;
  height: 400px;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;      
  border-radius: calc(var(--curve) * 1px);    
  background-color: var(--surface-color);      
  transform: translateY(100%);
  transition: .2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(var(--curve) * 1px) 0 0 0;    
  background-color: var(--surface-color);
  transform: translateY(-100%);
  transition: .2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;      
  z-index: 1;
}

      
.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;      
  border-radius: 50%;      
}

.card__title {
  font-size: 1em;
  margin: 0 0 .3em;
  color: var(--black-color);
  font-size: 20px;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "Architects Daughter", cursive;  
  font-size: .8em; 
  color: var(--black-color);  
}

.card__status {
  font-size: .8em;
  color: var(--black-color);
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: var(--black-color);  
  font-family: "Architects Daughter", cursive;   
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}    


.petsitters-section {
  position: relative;
  overflow: hidden;
}


.petsitters-heading {
  margin-top: 8%;
  position: relative;
}

.petsitters-heading h2 {
  font-size: 35px;
}

.no-avatar {
  width: 200px;
  height: 200px;
  margin-bottom: 45%;
}


.stars-list {
  display: flex;
}

.stars-list li {
  font-size: 20px;
  letter-spacing: 5px;
}

/* ------------------petsitter profile detail */
.profile-wrap {
  display: flex;
  flex-direction: column;
  height: 80%;
  align-items: center;
  justify-content: space-evenly;
}

.profile-wrap h2 {
  margin-top: 35px;
}


.details-image {
  /* background: url(/media/avatar_images/3.jpg) no-repeat center center/cover; */
  height: 250px;
  width: 250px;
  border-radius: 50%;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  margin-top: 10%;
}

.contact-info {
  height: 15%;
  line-height: 30px;
}

.details-wrap {
  display: flex;
  flex-direction: column;
  height: 95%;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.services-part {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}


.description-container {
  font-family: "Lato", sans-serif;
  display: flex;
  height: 285px;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.description-part {
  height: 70%;
    width: 80%;
}

.description-part h3 {
  margin-bottom: 15px;
  font-size: 20px;
}

.description-part p {
 line-height: 23px;
}


.reviews-container {
  font-family: "Lato", sans-serif;
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 28%;
}

.reviews-container h3 {
  margin-top: 7%;
  font-size: 20px;

}

/* ----------------reviews sliders */
.slider-container {
  width: 70%;
  height: 300px;

}

.slider {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

 .review-box {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  animation-duration: .5s ;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: overlay;
}

.review-box:first-of-type {
  left: 0;
}

.review-box h4 {
  font-size: 20px;
}

.review-box p {
  text-align: center;
  margin-top: 15px;
}

.next,
.prev {
  position: absolute;
  color: var(--black-color);
  font-size: 35px;
  cursor: pointer;
  z-index: 100;
  top: 73%;
  opacity: 0.4;
  transition-duration: .4s;
}

.next:hover,
.prev:hover {
  opacity: 1;
}

.next {
  right: 7%;
}

.prev {
  left: 34%;
}

@keyframes firstNext {
  0% {
    left: 0;
  }
  100% {
    left: 100%;
  }
}
@keyframes secondNext {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}

@keyframes firstPrev {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}

@keyframes secondPrev {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}


/* ------------open prices */
/* newsletter */
.prices-wrapper {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.3s, opacity 0.3s 0s, transform 0.3s;
}

#open-prices {
  margin: 0;
}

.close-prices {
  position: absolute;
  font-size: 35px;
  top: 2%;
  right: 3%;
  cursor: pointer;
}


.card-content {
  background-color: #211f23;
  background-repeat: no-repeat;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FF53455B', endColorstr='#FF201E22');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjAlIiByPSI3MCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiM1MzQ1NWIiLz48c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzIwMWUyMiIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -moz-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
  background-image: -webkit-radial-gradient(top, circle, #53455b 0%, #201e22 70%);
  background-image: radial-gradient(circle at top, #53455b 0%, #201e22 70%);
  color: #fff;
  font-family: "Lato", sans-serif;
  font-size: 100%;
  min-height: 100%;
  line-height: 1.5;
  padding: 2.5em 0;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 36px rgba(0, 0, 0, 0.3);
}

.show-prices {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.5s 0s, transform 0.5s;
}

.card-content h1 {
  text-transform: uppercase;
  margin: 10px 0;
  font-size: 30px;
}

.card-content p {
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  width: 45%;
}

.prices-container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* https://codepen.io/mtorosian/pen/KwyrZa */
.group:after {
  content: "";
  display: table;
  clear: both;
}

.grid-1-5 {
  border: 2px solid #5d4e65;
  min-height: 400px;
  padding: 1.25em;
  position: relative;
  text-align: center;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.grid-1-5:hover {
  background-color: #53455b;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF53455B', endColorstr='#FF201D22');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUzNDU1YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIwMWQyMiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #53455b), color-stop(100%, #201d22));
  background-image: -moz-linear-gradient(top, #53455b 0%, #201d22 100%);
  background-image: -webkit-linear-gradient(top, #53455b 0%, #201d22 100%);
  background-image: linear-gradient(to bottom, #53455b 0%, #201d22 100%);
  border-top: 2px solid #ec7a37;
  border-bottom: 2px solid #ff4f69;
  box-shadow: 0px 0px 10px 0px #323232;
  transform: scale(1.025);
  z-index: 2;
}
.grid-1-5:hover:before, .grid-1-5:hover:after {
  content: "";
  position: absolute;
  background-color: #f67d35;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFF67D35', endColorstr='#FFFF4F68');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2N2QzNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmNGY2OCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f67d35), color-stop(100%, #ff4f68));
  background-image: -moz-linear-gradient(top, #f67d35 0%, #ff4f68 100%);
  background-image: -webkit-linear-gradient(top, #f67d35 0%, #ff4f68 100%);
  background-image: linear-gradient(to bottom, #f67d35 0%, #ff4f68 100%);
  top: -2px;
  bottom: -2px;
  width: 2px;
}
.grid-1-5:hover:before {
  left: -2px;
}
.grid-1-5:hover:after {
  right: -2px;
}
.grid-1-5:hover  {
  background-color: #ee7a36;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=1, startColorstr='#FFEE7A36', endColorstr='#FFEB495D');
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlN2EzNiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ViNDk1ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ee7a36), color-stop(100%, #eb495d));
  background-image: -moz-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
  background-image: -webkit-linear-gradient(left, #ee7a36 0%, #eb495d 100%);
  background-image: linear-gradient(to right, #ee7a36 0%, #eb495d 100%);
}


.uppercase {
  text-transform: uppercase;
}

.grid-1-5 h2 {
  border-bottom: 1px solid #fff;
  width: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}

sup,
.small {
  font-size: 0.6125em;
}


/* --------- media queries */
@media screen and (min-width: 700px) {
  .grid-1-5 {
    float: left;
    width: 50%;
  }
  .grid-1-5:nth-child(odd) {
    clear: left;
  }
}
@media screen and (min-width: 800px) {
  .grid-1-5 {
    width: 33.3333333%;
  }
  .grid-1-5:nth-child(3n + 1) {
    clear: left;
  }
  .grid-1-5:nth-child(odd) {
    clear: none;
  }
}
@media screen and (min-width: 1120px) {
  .grid-1-5 {
    width: 20%;
  }
  .grid-1-5:nth-child(odd), .grid-1-5:nth-child(3n + 1) {
    clear: none;
  }
}


@media screen and (max-width: 1600px) {
  .home-bg-shape-2 {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  @media screen and (max-height: 800px) {
    .home-bg-shape-1 {
      left: -25%;
    }

    .searching-bg-shape {
      right: -21%;
    }

    .small-mark {
      height: 120px;
      top: 15%;
    }

    .big-mark {
      height: 240px;
      top: 0;
    }

    .join-txt {
      height: 100%;
      width: 37%;
    }

    .main-txt {
      height: 82%;
    }

    .join-instructions {
      height: 30%;
    }

    .paw-1,
    .paw-2 {
      right: 0;
    }

    .about-txt p {
      margin-top: 0;
      line-height: 25px;
    }

    .about-dog-img {
      right: 75%;
    }

    .about-bg-shape {
      left: -34%;
    }
  }
}

@media screen and (max-width: 1150px) {
  /* hamburger icon code from https://codepen.io/JoseRosario/pen/BWqMwK*/
  .wrapper-menu {
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: transform 330ms ease-out;
    position: absolute;
    right: 5%;
  }

  .nav-list a.active {
    color: var(--white-color);
  }

  .nav-list a:hover {
    color: var(--white-color);
  }

  .wrapper-menu.open {
    transform: rotate(-45deg);
  }

  .line-menu {
    background-color: var(--black-color);
    border-radius: 5px;
    width: 100%;
    height: 6px;
  }

  .line-menu.half {
    width: 50%;
  }

  .line-menu.start {
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: right;
  }

  .open .line-menu.start {
    transform: rotate(-90deg) translateX(3px);
  }

  .line-menu.end {
    align-self: flex-end;
    transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
    transform-origin: left;
  }

  .open .line-menu.end {
    transform: rotate(-90deg) translateX(-3px);
  }

  /* my code start here */
  .sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--yellow-color);
    overflow-x: hidden;
    transition: 0.5s;
    box-shadow: rgb(0 0 0 / 35%) 0px -10px 20px;
  }

  .nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .nav-list li {
    font-size: 20px;
    margin-bottom: 40px;
  }

  .half-home-bg {
    display: none;
  }

  .home-dog-img {
    display: none;
  }

  .home-bg-shape-1 {
    display: none;
  }

  #home-section {
    background: url(/media/footer.jpg) no-repeat center center/cover;
  }

  .search-dog-img {
    display: none;
  }

  .search-section-box {
    display: none;
  }

  .searching-bg-shape {
    display: none;
  }

  .paws-img {
    display: none;
  }

  .half-join-bg {
    display: none;
  }

  .join-bg-shape {
    left: -30%;
  }

  .join-txt {
    width: 65%;
  }

  #about-section {
    height: unset;
  }

  .about-dog-img {
    display: none;
  }

  .half-about-bg {
    display: none;
  }

  .about-bg-shape {
    display: none;
  }

  #footer-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
  }

  .footer-box {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
  }

  .footer-box h3 {
    font-size: 25px;
  }

  .box-logo {
    display: none;
  }

  .half-bg {
    display: none;
  }

  .main-image {
    display: none;
  }

  .register-bg-shape {
    display: none;
  }

  .login-form-grid-container {
    width: 60%;
  }

  .form-grid-container {
    width: 60%;
  }

  #id_is_petsitter {
    left: 28%;
  }
}

@media screen and (max-width: 800px) {
  .search-form {
    width: 80%;
  }

  .search-form h2 {
    font-size: 30px;
  }

  .join-bg-shape {
    display: none;
  }

  .join-txt {
    width: 80%;
  }

  .join-txt h1 {
    font-size: 35px;
  }

  .join-txt h2 {
    font-size: 30px;
  }

  .main-txt {
    width: 90%;
  }
}

@media screen and (max-width: 550px) {
}

@media screen and (max-width: 380px) {
}
