{% extends 'base.html' %}
{% load account %}

{% block title %}Error 403{% endblock title %}

{% block content %}
    <section class="section">
        <div class="container center ">
            <div class="error-box center">
                <h2>oops! something went wrong...</h2>
                <div class="error-img-403 center"></div>               
            </div>           
                <div class="button button-bright center">
                    <a href="{% url 'petsitter_profile' user.id %}">back to profile</a>
                </div>
        </div>

    </section>
{% endblock content %}