{% extends 'base.html' %}

{% block title %}Change Password Page{% endblock title %}

{% block content %}
<section class="section">
    <div class="container center change-password-box">
        <h2>Change Password</h2>
        {% if form.errors %}
            <div id="form_errors">
                {% for key, value in form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
            </div>
    {% endif %}
        <form class="change-password-form center" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="buttons-box password-buttons"> 
                <div class="button button-bright center">
                    <a href="{% url 'user_profile' request.user.pk %}">Back to profil</a>
                </div>
                <button class="button button-bright" type="submit">Submit</button>
            </div>
        </form>
    </div>
</section> 
{% endblock content %}