{% extends 'base.html' %}
{% load account %}

{% block title %}User Account Delete{% endblock title %}

{% block content %}
    {% if user.is_authenticated %}
    <section class="section">
        <div class="container center delete-heading">
            <h2>Delete User Account</h2>
            <form class="delete-form center" method="post">
                {% csrf_token %}
                <p>Are you sure you want to delete your account?</p>
                <div class="delete-buttons">
                    <input class="button button-bright" type="submit" value="Yes I am">
                    <div class="button button-bright center">
                        <a href="{% url 'user_profile' %}">Nah..Back to profil</a>
                    </div>
                </div>
            </form>
            {% endif %}

        </div>

    </section>
{% endblock content %}