{% extends 'base.html' %} 
{% load static %} 
{% block content %}

<!-- about section -->
<section id="about-section" class="section">
  <div class="about-bg-shape"></div>
  <div class="container">
    <div class="half-about-bg"></div>
      <img src="{% static 'images/heart.png' %}" class="heart-about-1" alt="Heart icon" />
      <img src="{% static 'images/heart.png' %}" class="heart-about-2" alt="Heart icon" />
      <img src="{% static 'images/heart.png' %}" class="heart-about-3" alt="Heart icon" />
    <div class="main-image image-shadow">
      <img src="{% static 'images/pup.png' %}" class="about-dog-img" alt="A dog" />
    </div>
    <div class="about-txt center">
      <h2>About Walkers</h1>
      <p>
        Welcome to the UK’s largest network of pet sitters and dog walkers!
        <br />
        Founded in 2018, the Walkers website connect dog parents with loving pet
        sitters and dog walkers in neighborhoods across the whole UK. <br />
        We believe everyone deserves the unconditional love of a dogs and our
        mission is to make it easier to experience that love. <br />
        We empower our community of trusted pet sitters and dog walkers to run
        their own pet care services on Walkers with the tools and security of a
        big company to back them.
      </p>

      <h2>Our pets are our family</h2>
      <p>
        They’re there for us when we need it most and at Walkers we’re there for
        them too. We believe this focus on treating pets like family is part of
        why more than 100 000 services have been booked on Walkers!
      </p>
      <h2>Safety first. Always.</h2>
      <p>
        We work tirelessly to ensure tails keep wagging and pet owners’ minds
        are at ease.
      </p>
      <div class="about-box">
        <div class="safety-box">
          <div class="center safety-icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="safety-box-txt">
            <p>
              Every service you offer on Walkers is backed by the Walkers
              Guarantee
            </p>
          </div>
        </div>
        <div class="safety-box">
          <div class="center safety-icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="safety-box-txt">
            <p>
              Identity verification offered for every pet sitter and dog walker
            </p>
          </div>
        </div>
        <div class="safety-box">
          <div class="center safety-icon">
            <i class="far fa-check-circle"></i>
          </div>
          <div class="safety-box-txt">
            <p>A top tier support team that has your back</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
