{% extends 'base.html' %}
{% load static %} 
{% block content %}
<section class="section contact-section">
    {% if messages %}
        <ul class="info-msg center">
            {% for message in messages %}
                <li>{{ message.message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
   <div class="container">
        <div class="half-about-bg"></div>
        <img src="{% static 'images/hello.png' %}" class="contact-icon " alt="Heart icon" />
<!--         <div class="main-image image-shadow">
            <img src="{% static 'images/contact-img.png' %}" class="contact-dog-img" alt="A dog" />
        </div> -->
    <div class="contact-form-box">
        <h2>contact us any time!</h2>
        <p>we are here for help. If you have any question,
            please fill in the form below. we care a lot about you,
            so you will receive a reply within 24 hours.</p>    
        <form class="contact-form" method="post">
            {% csrf_token %}
            {{ contact_form }}        
            <input class="button button-bright center" type="submit" value="send">                     
        </form>   
    </div>
   </div>
</section>
{% endblock %}
